[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cigk
[access "refs/for/refs/*"]
	read = group user/cigk
	push = group user/cigk
	label-Code-Review = -2..+2 group user/cigk
	label-Verified = -1..+1 group user/cigk
	rebase = group user/cigk
	removeReviewer = group user/cigk
	submit = group user/cigk
[access "refs/heads/*"]
	read = group user/cigk
	create = group user/cigk
	push = +force group user/cigk
	pushMerge = group user/cigk
[access "refs/tags/*"]
	push = +force group user/cigk
	pushTag = group user/cigk
	pushSignedTag = group user/cigk
